<footer class="end">
    <div class="footer">
        <div class="footer1">
            <h4>COMPANY</h4>
            <ul class="qlist">
                <li class="ql"><a href="/company/about-us.html">ABOUT US</a></li>
                <li class="ql"><a href="/company/careers.html">CAREERS</a></li>
                <li class="ql"><a href="/company/terms.html">TERMS</a></li>
                <li class="ql"><a href="company/privacy-policy">PRIVACY POLICY</a></li>
                <li class="ql"><a href="/company/ad-preference.html">AD PREFERENCE</a></li>
                <li class="ql"><a href="/company/help.html">HELP</a></li>
            </ul>
        </div> <!--end of footer1-->

        <div class="footer1">
            <h4>CONTACT US</h4>
            <ul class="qlist">
                <li class="ql"><a href="#">FACEBOOK</a></li>
                <li class="ql"><a href="#">INSTAGRAM</a></li>
                <li class="ql"><a href="#">X</a></li>
                <li class="ql"><a href="#">LINKED IN</a></li>
            </ul>
        </div> <!--end of footer1-->

        <div class="footer1">
            <h4>QUICK LINKS</h4>
            <ul class="qlist">
                <li class="ql"><a href="index.html">Home</a></li>
                <li class="ql"><a href="html/mybooks.html">My Books</a></li>
                <li class="ql"><a href="html/genres/art.html">Genres</a></li>
                <li class="ql"><a href="html/writercorner.html">Writer's Corner</a></li>
                <li class="ql"><a href="html/donate.html">Donate</a></li>
                <li class="ql"><a href="html/signup.html">Sign up</a></li>
            </ul>
        </div> <!--end of footer1-->

        

        <div class="footer1">
            <h4>NEWSLETTER</h4>
            <p style="color: white;">Subscribe to our newsletter to get the latest updates on our books and authors</p>
            <div class="email_bt">
                <input type="email" placeholder="Enter your email" id="email2">
                <button class="bt">Subscribe</button>
            </div><!--email_bt-->
        </div> <!--end of footer1-->
    </div> <!--end of footer-->

    <div class="footer2">
        <p>&copy; 2024 WhatARead. All rights reserved</p>
    </div> <!--end of footer2-->
    
</footer> <!--end of end-->